@import 'variables.scss';
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import '~https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css';

html,body {
    margin: 0;
    padding: 0;
}

#root {
    background-color: #CCC;
}
.examples-container {
    background-color: #FFF;
    width: 800px;
    margin: 0 auto;
}
.example-container {
    background-color: #EEE;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

pre {
    background-color: #E0E0E0;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

.fixed-250-width {
    width: 250px;
}