$color-red: rgb(173, 52, 50);
$color-dark-red: rgb(137, 42, 40);
$color-disabled-red: rgb(199, 113, 111);
$color-blue: rgb(66, 133, 195);
$color-blue-shadow: rgba(66, 133, 194, 0.5);
$color-dark-blue: rgb(58, 115, 168);
$color-disabled-checkbox-blue: rgb(188, 224, 253);
$color-disabled-blue: rgb(166, 189, 211);
$color-teal: rgb(42, 191, 200);
$color-dark-teal: rgb(36, 159, 167);
$color-disabled-teal: rgb(124, 212, 217);
$color-charcoal: rgb(98, 98, 98);
$color-dark-charcoal: rgb(75, 75, 75);
$color-disabled-charcoal: rgb(191, 191, 191);
$color-placeholder-gray: rgb(197, 197, 197);
$color-menu-highlight: rgb(216, 216, 216);
$color-input-border: rgba(149, 152, 154, 1);
$color-disabled-placeholder: rgba(168, 164, 164, 1);
$color-disabled-background: #F7F7F7;